@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}





/* SLOT MACHINE STYLES */

/* glow for lever-button ring*/
.glow {
  position: relative;
  animation: pulsating 4s infinite linear;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,215,0,0.1) 50%, rgba(255,215,0,0) 100%);
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: glow-animation 1.5s infinite alternate;
  background: radial-gradient(circle at 50% 50%, rgba(255, 204, 0, 0.1), rgba(255, 215, 0, 0.4));
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.4), 0 0 10px rgba(255, 204, 0, 0.6), 0 0 20px rgba(255, 215, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.4), 0 0 20px rgba(255, 204, 0, 0.6), 0 0 30px rgba(255, 215, 0, 0.4), 0 0 40px rgba(255, 215, 0, 0.4);
  }
}

@keyframes pulsating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* goldenGlow for winner images */
@keyframes glowing {
  0% {
    filter: drop-shadow(0 0 8px gold) drop-shadow(0 0 12px gold);
  }
  50% {
    filter: drop-shadow(0 0 15px gold) drop-shadow(0 0 25px gold) drop-shadow(0 0 35px gold);
  }
  100% {
    filter: drop-shadow(0 0 8px gold) drop-shadow(0 0 12px gold);
  }
}

.goldenGlow {
  animation: glowing 1s infinite;
  will-change: filter;
}
